<div class="container-fluid">
  <div class="row footer">
    <div class="col text-center pt-5">
      <!-- <img data-src="holder.js/300x300" class="img-fluid mx-auto d-block"  alt="Contacto" > -->
      <div class="row">
        <div class="col">
          <p>
            info@edosoft.es
            <br> Tel +34 828 021 575
            <br> Fax +34 828 066 081
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="http://plus.google.com/+EdosoftFactory" target="_blank">
                <i class="fab fa-google-plus fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://facebook.com/edosoftfactory" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/edosoftfactory" target="_blank">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a href="http://linkedin.com/company/edosoft-factory" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://vimeo.com/edolab" target="_blank">
                <i class="fab fa-vimeo fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://youtube.com/edosoftfactory" target="_blank">
                <i class="fab fa-youtube fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img class="img-fluid" src="{{"assets/images/iso-9001.png "| relative_url }}" alt="ISO 9001">
        </div>
        <div class="col">
          <img class="img-fluid" src="{{"assets/images/iso-14001.png "| relative_url }}" alt="ISO 14001">
        </div>
        <div class="col">
          <img class="img-fluid" src="{{"assets/images/iso-27001.png "| relative_url }}" alt="ISO 27001">
        </div>
      </div>
      <div class="row">

        <div class="col text-center pt-3">
          &copy; 2017 Edosoft Factory S.L. Todos los derechos reservados.
          <p>
            <a href="legal.hmtl">Información legal.</a>
            <a href="home_en">English version</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>