@import "variables";
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body{
    font-family: Ubuntu,san-serif;
    color:$light_grey
}
.dropdown-item{
    color:$edoblue;
}
.header {
   height: 180px; 
   background-color:$edoblue;
   @include downskew-header;
   padding-top: 4rem;

}

.header-subsection {
    height: 120px; 
    background-color:$edoblue;
    @include downskew-header;
    padding-top: 4rem;

 
 }

.quote-blue {
    background: $edoblue;
    @include upskew;
    @include downskew;
    color:white !important;
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.75rem;
    }
    h4{
        font-size: 1.50rem;
    }
    h5{
        font-size: 1.25rem;
    }
    h6{
        font-size: 1rem;
    }

}

.quote-green {
    background: $edogreen;
    @include upskew;
    @include downskew;
    color:white;
}

.footer{
    background: $edoblue;
    @include upskew;
    color: white;
    a{
        color:white
    }
    
}
.z-index-top{
    z-index: 99;
}
.menu-option{
    color:$edoblue !important;

}
h1{
    color:white;
    font-size: 18px;


}

h2{
    font-size: 24px;
    color:$edoblue;
    font-weight: normal;
} 

h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: normal;

}

.opacity-80{
    @include opacity(0.80);
}

.blue-indicator{
    display: block;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 10px solid $edoblue;
    border-bottom: 10px solid transparent;
}
.page{
    h1{
        color: $edoblue;
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.75rem;
    }
    h4{
        font-size: 1.50rem;
    }
    h5{
        font-size: 1.25rem;
    }
    h6{
        font-size: 1rem;
    }
}
.header.page {
    h1,h2{
        color:white !important;
    }
}
.btn-outline-primary{
    color:$edoblue;
    border-color:$edoblue;
    
}
.btn-xxl{
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

}

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}